In [13]:
! git config --global user.name "KyrianAbaneke"
! git config --global user.email "kyrianabaneke@gmail.com"

In [14]:
username = 'KyrianAbaneke'
repo = 'CMP7005'
token = "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"

In [15]:
! git clone https://{token}@github.com/{username}/{repo}

Cloning into 'CMP7005'...
remote: Enumerating objects: 34, done.
remote: Counting objects: 100% (34/34), done.
remote: Compressing objects: 100% (32/32), done.
remote: Total 34 (delta 1), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (34/34), 783.90 KiB | 4.81 MiB/s, done.
Resolving deltas: 100% (1/1), done.

# **Introduction**
Air pollution and particulate matters is everything in the air that is not gas and as such, it is made up from a huge variety of chemical compounds and materials, some of which are toxic and can lead to health issues like stroke, cardiovascular diseases, lung carcinoma and other pulmonary conditions.

WIth India being ranked among the top 5 most polluted countries in 2024, this dataset and analysis focuses on this country and it deals on daily records of the air quality data emmissions of air pollutants such a;s PM2.5, PM10, NO, NO2, NOx, NH3, CO, SO2, O3, volatile organic compounds such as; Benzene, Toluene, Xylene, the air quality index (AQI) and the classification of the air quality levels AQI Bucket, where the air quality index (AQI) is a standardized indicator used to communicate how polluted the air is. The analysis of these air pollutants will be done across 26 stations in India from 2015 to 2020.

This project or data analysis aims to design and implement software solutions using python while performing exploratory data analysis, constructing predictive modelsand delivering interactive dashboards for data exploration and forcasting. Also, the application of version control and collaborative tools will be implemented.

# Importing the required libraries

In [4]:
# importing the necessary libraries for data analysis
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
import seaborn as sns

# Mounting the drive
Here, the I will mount my google drive to the google colab notebook environment.

In [5]:
from google.colab import drive
drive.mount('/content/drive') # This will prompt for authorization

Mounted at /content/drive

In [6]:
drive_path = '/content/drive/MyDrive/Kyrian Assessment/Assessment Data-20251123'

In [7]:
%cd /content/drive/MyDrive/Kyrian Assessment/Assessment Data-20251123

/content/drive/MyDrive/Kyrian Assessment/Assessment Data-20251123

In [8]:
%ls # This shows all the contents in the folder

Ahmedabad_data.csv     Coimbatore_data.csv  Kolkata_data.csv
Aizawl_data.csv        Delhi_data.csv       Lucknow_data.csv
Amaravati_data.csv     Ernakulam_data.csv   Mumbai_data.csv
Amritsar_data.csv      Gurugram_data.csv    Patna_data.csv
Bengaluru_data.csv     Guwahati_data.csv    Shillong_data.csv
Bhopal_data.csv        Hyderabad_data.csv   Talcher_data.csv
Brajrajnagar_data.csv  Jaipur_data.csv      Thiruvananthapuram_data.csv
Chandigarh_data.csv    Jorapokhar_data.csv  Visakhapatnam_data.csv
Chennai_data.csv       Kochi_data.csv

# Combining all CSV files in the drive path
This process involves iterating through all the files in a sepcified directory(drive_path) to identify those with a .csv extension.  Each identified CSV file is then read into a Pandas DataFrame, which is subsequently appended to a list (dataframes). Once all the CSV files are processed, the individual DataFrames in the list are combined into a single consolidated DataFrame (all_data) using the pd.concat() function. This consolidation ensures that the combined data is reindexed, creating a unified dataset for further analysis. This procedure is to combine all the CSV files for the various stations into a single Dataframe.

In [9]:
# Import the necessary libraries
import pandas as pd  # pandas is used for working with data tables
import glob         # glob is used to find files by name patterns

# STEP 1: The pattern "*_data.csv" means "find all files that end with '_data.csv'"
# This will find files like: Ahmedabad_data.csv, Delhi_data.csv, Mumbai_data.csv, etc.
city_files = glob.glob("*_data.csv")

# STEP 2: Create an empty list to store all our city data
# We'll put each city's data in this list before combining them
all_cities_data = []

# Sort the filenames alphabetically
city_files.sort()

# STEP 3: Read each city file one by one
for file_name in city_files:
    # Read the current city's CSV file into a DataFrame
    # A DataFrame is like a spreadsheet table in Python
    city_df = pd.read_csv(file_name)

    # Add this city's data to our list
    all_cities_data.append(city_df)

    # Optional: Print which file we just read
    print(f"Loaded: {file_name}")

# STEP 4: Combine all city data into one big table
# pd.concat() joins all the DataFrames in our list together
# ignore_index=True makes sure the row numbers are continuous (0, 1, 2, 3...)
combined_data = pd.concat(all_cities_data, ignore_index=True)

# STEP 5: Save the combined data to a new CSV file
# index=False means don't save the row numbers as a separate column
combined_data.to_csv("all_cities_combined.csv", index=False)

# STEP 6: Show us what we accomplished
# len(city_files) = count of how many city files we combined
# len(combined_data) = total number of rows in the final combined file
print(f"SUCCESS: Combined {len(city_files)} city files into one file with {len(combined_data)} total rows")
print("The combined file is saved as: all_cities_combined.csv")

Loaded: Ahmedabad_data.csv
Loaded: Aizawl_data.csv
Loaded: Amaravati_data.csv
Loaded: Amritsar_data.csv
Loaded: Bengaluru_data.csv
Loaded: Bhopal_data.csv
Loaded: Brajrajnagar_data.csv
Loaded: Chandigarh_data.csv
Loaded: Chennai_data.csv
Loaded: Coimbatore_data.csv
Loaded: Delhi_data.csv
Loaded: Ernakulam_data.csv
Loaded: Gurugram_data.csv
Loaded: Guwahati_data.csv
Loaded: Hyderabad_data.csv
Loaded: Jaipur_data.csv
Loaded: Jorapokhar_data.csv
Loaded: Kochi_data.csv
Loaded: Kolkata_data.csv
Loaded: Lucknow_data.csv
Loaded: Mumbai_data.csv
Loaded: Patna_data.csv
Loaded: Shillong_data.csv
Loaded: Talcher_data.csv
Loaded: Thiruvananthapuram_data.csv
Loaded: Visakhapatnam_data.csv
SUCCESS: Combined 26 city files into one file with 29531 total rows
The combined file is saved as: all_cities_combined.csv

# Procedure for Combining the CSV files:

*  All city files ending with .csv files was located using the "glob" library.  
*  I created a empty list to store all the city data before combining them.
*  The city names were sorted alphabetically.
*  Each city file was read one by one and put in a created dataframe which is like a spreadsheet in python.
*  The cities data was added to the initially created empty list in step 2.
*  All the city data was combined into a table and contactenated(joining all the cities dataframe together to a form one big table).
*   The combined dataset was saved to a new csv file named "all_cities_combined.csv
*   The combined csv file in the "all_cities_combined.csv" was displayed.

# Fundamental Data Understanding to gain general insight.
In this section, I will be examining the data deeply, gaining insights about the data which covers the rows and columns, values in the data, data types and missing values. The missing values will be displayed using heat map for easy understanding and interpretation.

In [10]:
df = pd.read_csv("all_cities_combined.csv")
df

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,01/01/2015,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,02/01/2015,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,03/01/2015,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,04/01/2015,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,05/01/2015,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29526,Visakhapatnam,27/06/2020,15.02,50.94,7.68,25.06,19.54,12.47,0.47,8.55,23.30,2.24,12.07,0.73,41.0,Good
29527,Visakhapatnam,28/06/2020,24.38,74.09,3.42,26.06,16.53,11.99,0.52,12.72,30.14,0.74,2.21,0.38,70.0,Satisfactory
29528,Visakhapatnam,29/06/2020,22.91,65.73,3.45,29.53,18.33,10.71,0.48,8.42,30.96,0.01,0.01,0.00,68.0,Satisfactory
29529,Visakhapatnam,30/06/2020,16.64,49.97,4.05,29.26,18.80,10.03,0.52,9.84,28.30,0.00,0.00,0.00,54.0,Satisfactory
29530,Visakhapatnam,01/07/2020,15.00,66.00,0.40,26.85,14.05,5.20,0.59,2.10,17.05,NaN,NaN,NaN,50.0,Good

In [11]:
df.head(10) # To display the combined cities data first 10 dataset.

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,01/01/2015,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,02/01/2015,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,03/01/2015,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,04/01/2015,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,05/01/2015,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN
5,Ahmedabad,06/01/2015,NaN,NaN,45.41,38.48,81.50,NaN,45.41,45.76,46.51,5.42,10.83,1.93,NaN,NaN
6,Ahmedabad,07/01/2015,NaN,NaN,112.16,40.62,130.77,NaN,112.16,32.28,33.47,0.00,0.00,0.00,NaN,NaN
7,Ahmedabad,08/01/2015,NaN,NaN,80.87,36.74,96.75,NaN,80.87,38.54,31.89,0.00,0.00,0.00,NaN,NaN
8,Ahmedabad,09/01/2015,NaN,NaN,29.16,31.00,48.00,NaN,29.16,58.68,25.75,0.00,0.00,0.00,NaN,NaN
9,Ahmedabad,10/01/2015,NaN,NaN,NaN,7.04,0.00,NaN,NaN,8.29,4.55,0.00,0.00,0.00,NaN,NaN

In [12]:
df.tail(10) # To display the combined cities last 10 dataset.

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
29521,Visakhapatnam,22/06/2020,33.17,108.22,5.58,42.45,27.06,13.70,0.73,13.65,34.85,3.99,10.24,2.32,95.0,Satisfactory
29522,Visakhapatnam,23/06/2020,25.40,83.38,2.76,34.09,19.92,13.13,0.54,10.40,43.27,2.88,12.03,1.33,100.0,Satisfactory
29523,Visakhapatnam,24/06/2020,34.36,90.90,1.22,23.38,13.12,14.45,0.56,10.92,35.12,2.99,3.15,1.60,86.0,Satisfactory
29524,Visakhapatnam,25/06/2020,13.45,58.54,2.30,21.60,13.09,12.27,0.41,8.19,29.38,1.28,5.64,0.92,77.0,Satisfactory
29525,Visakhapatnam,26/06/2020,7.63,32.27,5.91,23.27,17.19,11.15,0.46,6.87,19.90,1.45,5.37,1.45,47.0,Good
29526,Visakhapatnam,27/06/2020,15.02,50.94,7.68,25.06,19.54,12.47,0.47,8.55,23.30,2.24,12.07,0.73,41.0,Good
29527,Visakhapatnam,28/06/2020,24.38,74.09,3.42,26.06,16.53,11.99,0.52,12.72,30.14,0.74,2.21,0.38,70.0,Satisfactory
29528,Visakhapatnam,29/06/2020,22.91,65.73,3.45,29.53,18.33,10.71,0.48,8.42,30.96,0.01,0.01,0.00,68.0,Satisfactory
29529,Visakhapatnam,30/06/2020,16.64,49.97,4.05,29.26,18.80,10.03,0.52,9.84,28.30,0.00,0.00,0.00,54.0,Satisfactory
29530,Visakhapatnam,01/07/2020,15.00,66.00,0.40,26.85,14.05,5.20,0.59,2.10,17.05,NaN,NaN,NaN,50.0,Good

# Observation

The combined dataset contains the following colunms according to the data above:

*   **City:** The various cities for the air pollution analysis.
*   **Date:** The recorded dates for the air pollution data analysis.
*   **PM2.5:**  particulate matter with a diameter of 2.5 micrometers or less, which poses significant health risks due to its ability to penetrate deep into the lungs and enter the bloodstream.

*   **PM10:**  stands for particulate matter (also called particle pollution): the term for a mixture of solid particles and liquid droplets found in the air. Some particles, such as dust, dirt, soot, or smoke, are large or dark enough to be seen with the naked eye. Others are so small they can only be detected using an electron microscope.
*   **NO:** stands for Nitirc Oxide. This air pollutant can be seen in urban areas due to emissions from vehicles and and industrial activities contributing to quality of air and health problems.
*   **NO2:** stands for nitrogen dioxide. This is also common in urban areas with high number of vehicles and industries, contributing to the quality of air and health problems such as brochospasam and pulmonary edema especially in sensitive populations such as children and individuals living with pre-exisitng respiratory conditions.
*   **NOx:** stands for Nitrogen oxide. They are produced during high temperature combustion processes, such as those coming from vehicles, power plants and industrial facilities.
*   **NH3:** stands for Ammonia. When ammonia mixes with other gases in the atmosphere, such as nitrogen oxides and sulphur dioxide, it can form particulate matter (PM) which can exist for several days and be transported large distances.
*   **CO:** stands for carbon monoxide  is a colorless, odorless gas that can be harmful when inhaled in large amounts. CO is released when something is burned. The greatest sources of CO to outdoor air are cars, trucks and other vehicles or machinery that burn fossil fuels. A variety of items in your home such as unvented kerosene and gas space heaters, leaking chimneys and furnaces, and gas stoves also release CO and can affect air quality indoors.
*   **SO3:** stands for sulfur trioxide. is a colorless to white crystalline solid which will fume in air. Often shipped with inhibitor to prevent polymerization. It reacts violently with water to form sulfuric acid with the release of heat. It is corrosive to metals and tissue. It causes eye and skin burns. Ingestion causes severe burns of mouth esophagus and stomach. The vapor is very toxic by inhalation. It is a fire risk when in contact with organic materials such as wood, cotton, fiberboard.
*   **O3:** stands of ground level ozone. Ozone (O3) is a gas which is damaging to human health and can trigger inflammation of the respiratory tract, eyes, nose and throat as well as asthma attacks. In addition, ozone can have adverse effects on the environment through oxidative damage to vegetation including crops.
*   **Benzene:** This is a colourles that evapourates quickly and found in various sources including vehicle exhaust and industrial emissions.
*   **Toluene:** corlorless aromatic hydrocarbon widely used as a solvent and in the production of various chemicals. It is It is a flammable liquid with a distinctive smell associated with paint thinners.
*   **Xylene:** Xylene is a colourless, flammable liquid with a sweet odou. Xylene is used as a solvent and may be found in consumer and industrial solvents. It is used in various different products including glues and sealants, polishes and waxes, anti-freeze products and cleaning products. It is also used as a chemical intermediate in the production of other industrial chemicals and in the rubber, plastics and leather industries.
*   **AQI:** Air Quality Index. Used for provosion of advice on expected levels of air pollution.
*   **AQI Bucket:** The Air Quality Index (AQI) bucket system categorizes air quality into six categories, each with a specific range and color, indicating the level of health risk associated with the air quality.